<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>BE Project</title>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <script
      type="text/javascript"
      src="{{url_for('static',filename='script/script.js')}}"
    ></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>
  <body class="bg-dark text-white p-2 mb-5 bg-opacity-50">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white-50 py-3">
      <div class="container">
        <a href="{{ url_for('logged') }}" class="navbar-brand"
          ><span class="text-success">THINK</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="{{ url_for('new_dish') }}" class="nav-link text-white"
                >New Dish</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('tracking') }}" class="nav-link text-white"
                >Tracking</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('index') }}" class="nav-link text-white"
                >LogOut</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid mt-5 justify-content-center text-light  text-capitalize d-grid gap-2 col-8 mx-auto bg-gradient">
    <h1> <span class="text-success">Here the Nutritional report for your dish</span></h1>
    <h4 class="text-upper mt-5">Name: <span id="name1"></span></h4>
    <h4 class="mt-3">Calories: <span id="cal1"></span> Kcal</h4>
    <h4 class="mt-3">Protein: <span id="pro1"></span>gm</h4>
    <h4 class="mt-3">Carbhohydrates: <span id="carb1"></span>mg</h4>
    <h4 class="mt-3">Fat: <span id="fat1"></span>gm</h4>
    <h4 class="mt-3">Calcium: <span id="calc1"></span>gm</h4>
    <h4 class="mt-3">Vitamins: <span id="vat1"></span>gm</h4>
    </div>
    
    

    <script>
      var label = "{{nut}}";
      var value = 0;
      console.log(label);
      if (label === "pizza") {
        value = 0;
      } else if (label === "samosa") {
        value = 2;

      } else if (label === "burger") {
        value = 1;
      }
      else if (label === "icecream") {
        value = 3;
      }
      else if (label === "soup") {
        value = 4;
      }
      else if (label === "vadapav") {
        value = 5;
      }
      else if (label === "cupcakes") {
        value = 6;
      }
      else if (label === "biryani") {
        value = 7;
      }
      else if (label === "dosa") {
        value = 8;
      }
      else if (label === "idli") {
        value = 9;
      }
      else if (label === "paratha") {
        value = 10;
      }
      getData(value);

      //d3.csv('/static/nutri.csv').get(function(error,data){
      //console.log(data);
      //});
    </script>
    
  </body>
</html>
